

header{
	background: url(Livello_1.jpg)
	no-repeat center top /cover;
	
	text-align: center;
}
.container{
	width: 1030px;
	margin: 0 auto;
}


 .Navbar{
	color: #ffffff;
	padding-right: 68px;
	text-transform: uppercase;
	text-decoration: none;

}

.Livello_2{
	padding-right: 68px;
}


h1{
	color: #000;
	text-transform: uppercase;
	padding-top: 247px;
	font-size: 72px;
	padding-bottom: 2px;
	padding-top: 217px; 
}
p{
	color: #000;
	font-size: 16px;
	padding-bottom: 30px;
}
button{
	padding: 0 auto;
	background: #16a085; 
	text-transform: uppercase;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 8px;
	color: #fff;
	border-color: none;

}
.immage{
	padding-top: 217px;
}
.Navbar{
	font-size: 16px;
}
.First{
	padding-bottom:   10px;
}

.da{
	background-color: #f5f6f7;
}
.second_3{
	display: flex;
}
.Rappresent{
	font-size: 18px;
	color: #16a085;
	text-transform: uppercase;
	padding-bottom: 52px;
	line-height: 30px;
}
.Lorem{
	color: #89898a;
	padding-bottom: 48px;
	line-height: 30px;
}
.btn{
	background: #16a085;
	width: 192px;
	padding-top: 25px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
}
.Section_1{
	background-color:  #f5f6f7;
	padding-top: 115px;
	height: 450px;
	overflow: hidden;
}
.iPhone{
	margin-top: 50px;
}
.btn:hover{
	background: #00665a;
}